body {
	background: #E9E9E9;
}
.card {
    border-radius: 0.5em;
}


[data-theme-version="dark"] .medal img {
    height: 50px;
    background-color: #1A1921;
    border-radius: 1em;
    padding: 10px;
	cursor: pointer;
}

.medal img {
    height: 50px;
    background-color: #E9E9E9;
    border-radius: 1em;
    padding: 10px;
	cursor: pointer;
}


[data-theme-version="dark"] .medal-lock {
	background-color: #1A1921;
    top: 0;
    width: 50px;
    height: 50px;
    font-size: 22px;
}

.medal-lock {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #E9E9E9;
    border-radius: .5em;
    opacity: 0.9;
    top: 0;
    left: 0;
    right: 0;
    font-family: FontAwesome;
    content: "\f095";
    text-align: center;
    font-size: 22px;
    padding: 14px;
}


.medal .nav-link {
    padding: 0rem .5rem 0rem 0rem;
}

.balance-info span {
	float: left;
	margin-right: 8px;
	line-height:18px;
}
.balance-info span {
	float: left;
	margin-right: 8px;
	line-height:18px;
}
.dollar-price {
	float: left;
	
	line-height:18px;
}

/*———modal badges——*/

.modal-content {
    border-radius: 0.375rem;
	background: transparent!important;
	border: none!important;
}
.modal-badge {
    background-color: transparent!important;
    border: 0px;
    text-align: center;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}
.tlt {
  backface-visibility: visible;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  box-shadow: none!important;
}

.tlt img {
  transform-style: preserve-3d;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.layer0 {
  transform: translateZ(20px);
}

.layer1 {
  transform: translateZ(30px);
  position: absolute;
}

.badge-bg {
  fill: #1A1921;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 19%;
  margin: auto;
  opacity: 0.7;
}

.modal-header {
  padding: 1rem 1.875rem;
  Z-index: 1;
  display: block;
  border: none;
  text-align: center;
  color: #fff !important;
  font-size: 2.25em;
}

.modal-header .close {
  padding: 0.875rem 1.815rem;
  margin: 0;
  position: absolute;
  right: 0;
  float: none;
  top: 0;
  font-size: 30px;
  font-weight: 100;
}

.modal-body {
  padding: 1.875rem;
}

.modal-footer {
  padding: 1rem 1.875rem;
}

.modal-content {
  border-radius: 0.375rem;
}

.modal-backdrop {
  z-index: 10 !important;
}
.modal-badge img {
  width: 60%;
}

.modal-badge img::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #69b6d5;
}


/*—header content—*/
[data-theme-version="dark"]{
	color: #a6b0cf;
}
[data-theme-version="dark"] .header {
	background: none;	
}
.header {
	background: none;
}
[data-theme-version="dark"] .header .header-content {
    height: 100%;
    padding-left: 5.3125rem;
    padding-right: 40px;
    align-items: center;
    display: flex;
    background: rgba(26, 25, 33, .8);
    backdrop-filter: blur(15px);
}
 .header .header-content { background: rgba(233, 233, 233, .9); }


/*——*/
[data-theme-version="dark"] .balance-info {
    display: flex;
    align-items: flex-start;
    border-bottom: solid 1px rgba(255, 255, 255, .1) !important;
}
.balance-info {
    border-bottom: 1px solid #ddd;
}
.trade-card .form-control, .trade-card .input-group-text, .trade-card .form-control:hover, .trade-card .form-control:focus, .form-control.active {
    border-radius: 0;
    background: transparent;
    border: 0px solid #f0f1f5;
    color: #fff;
	text-align: center;
    font-weight: 600;
    font-size: 20px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.custom-dropdown {
    display: inline-block;
    margin: 0;
}

.card {
	overflow: hidden;
}
[data-theme-version="dark"] {
.event-goal {
    background-color: #1A1921;
    border-radius: 1em;
    padding: 1.25rem 1.875rem;
    cursor: pointer;
	a, h3 {
		font-weight: 600;
	}
}
}
.event-goal {
    background-color: #E9E9E9;
	border-radius: 1em;
    padding: 1.25rem 1.875rem;
    cursor: pointer;
	a, h3 {
		font-weight: 600;
	}
}
.text-white {
		color: #000!important;
}
[data-theme-version="dark"] {
	.text-white {
		color: #fff!important;
	}
	.dataTablesCard {
		background: none!important;
	}
	.dataTables_wrapper input[type="search"], .dataTables_wrapper input[type="text"], .dataTables_wrapper select {
	    background: #252430;
	    border: 0.0625rem solid #252430;
	    padding: 0.3125rem 1.25rem;
	    color: #fff;
	    height: 3.5rem;
	    border-radius: 0.5em;
	    width: 25em;
	    margin-left: 0em;
	}
	#walletAddy {
		background: #252430;
	    border: 0.0625rem solid #252430;
	    padding: 0.3125rem 1.25rem;
	    color: #fff;
	    height: 3.5rem;
	    border-radius: 0.5em;
	    width: 25em;
	    margin-left: 0em;
	}
}

[data-theme-version="dark"] {
	#richlist tbody tr, #richlist tbody td {
	    background: transparent !important;
	    border-bottom: solid 1px rgba(255, 255, 255, .1) !important;
	    -webkit-transition: all 0.5s;
	    -ms-transition: all 0.5s;
	    transition: all 0.5s;
	}
	#richlist tbody td {
	    font-size: 16px;
	    padding: 25px 25px;
		border: none!important;
	}
	#richlist tbody tr:hover {
	    background: #252430!important;
		color: #fff!important;
	}
	.page-titles {
		margin-bottom: 40px;
		display: block;
		margin-left: -40px;
		margin-right: -40px;
		padding: 20px 40px;
		margin-top: -40px;
		background: #252430;
		display: block;
	}
	.page-titles .breadcrumb li.active a {
	    color: #a6b0cf;
	}
}
.event-goal a, .event-goal h3 {
    font-weight: 600;
}
.event-goal i {
    font-size: 30px !important;
}
.mediaInfo i {
    font-size: 30px !important;
	color: #fff;
}
.st0 {
	fill: #ffffff;
}
.st0:hover {
	fill: #CE5C6D;
	transition: all 0.5s;
	cursor: pointer;
}
.st1{fill:none;}
.st2{fill:#CE5C6D;}
.st4{font-size:40px!important;}

.pb-300 {
 padding-bottom: 300px;	
}

[data-theme-version="dark"] .bgl-primary {
    background: none;
	border: none;
}


#richlist tbody td {
	    font-size: 16px;
	    padding: 25px 25px;
}
#richlist tbody tr:hover {
	    background: #f7f7f7!important;
		color: #000!important;
	}
	
.form-head .btn i {
    margin-right: 0px;
}	

[data-theme-version="dark"] .table tbody tr td {
    vertical-align: middle;
    border: solid 1px rgba(255,255,255,0.1) !important;
}

#sent .table tbody tr td, #received .table tbody tr td, #send .table tbody tr td, #buy .table tbody tr td {
    border: none!important;
}

.table tbody tr td {
    vertical-align: middle;
    border-color: #f0f1f5;
}

.price-toggle {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #fff;
    margin-right: 2rem;
    margin-top: 1.5rem;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.btn {
	border-radius: .5em;
}

[data-theme-version="dark"] {
	.card-tabs.icontabs .nav-tabs .nav-item .nav-link.active {
	    background: #CE5C6D;
	}
	.card-tabs .nav-tabs .nav-link {
	    background: #000;
	    color: #fff;
		padding: 5px 10px;
	    font-weight: 500;
	    font-size: 11px;	
	}
	.card-tabs .nav-tabs .nav-link.active {
	    //background: #a6b0cf;
	   background: #444444;
	}
	.card-tabs .nav-tabs .nav-link:hover {
	    color:#fff;
		opacity: .9;
	}
}

.card-tabs.icontabs .nav-tabs .nav-item .nav-link.active {
	    background: #CE5C6D;
	}
	.card-tabs .nav-tabs .nav-link {
	    background: #ddd;
	    color: #666;
		font-weight: 400;
		padding: 5px 10px;
	    font-weight: 500;
	    font-size: 11px;	
	}
	.card-tabs .nav-tabs .nav-link.active {
	    //background: #a6b0cf;
	   background: #CE5C6D;
	}
	.card-tabs .nav-tabs .nav-link.active:hover {
	    color: #fff;
	   background: #CE5C6D;
	}
	.card-tabs .nav-tabs .nav-link:hover {
	    color:#666;
		opacity: .9;
	}


.dropdown-menu {
    color: #a6b0cf;
}
.bw-logo {
	background: #252430;
	border:1px solid #252430;
	border-radius: 50%;
}

::placeholder {
  color: #a6b0cf !important;
}
.nav-tabs .nav-item {
    margin-bottom: 0;
}

.card-tabs .nav-tabs .nav-item:first-child .nav-link {
    border-top-left-radius: .5em;
	border-bottom-left-radius: .5em;
}
.card-tabs .nav-tabs .nav-item:last-child .nav-link{
    border-top-right-radius: .5em;
	border-bottom-right-radius: .5em;
}

.icontabs .nav-link{
	border-radius: 50px!important;
}

.card-tabs .nav-tabs {
	background: none;
}
.header-right .notification_dropdown .nav-link .badge {
    position: absolute;
    font-size: 14px;
    border-radius: 50%;
    right: -10px;
    top: -10px;
    font-weight: normal;
    height: 26px;
    width: 26px;
    line-height: 26px;
    text-align: center;
    padding: 0px;
    color: #000;
    font-weight: 500;
}
.header-right .nav-item .nav-link {
    color: #a6b0cf;
    font-size: 18px;
}
[data-theme-version="dark"] .header-right .dropdown .nav-link {
    color: #a6b0cf;
}
.header-right .notification_dropdown .nav-link {
    position: relative;
    color: #CE5C6D;
    background: transparent;
    border-radius: 0.375rem;
    padding: 5px;
    line-height: 1;
}
.theme-toggle {
    font-size: 33px !important;
    color: #000 !important;
}
.footer {
    background: none;
	font-size: 12px;
}

[data-theme-version="dark"] .theme-toggle {
    font-size: 33px !important;
    color: #fff !important;
}

[data-theme-version="dark"] .table {
    color: #a6b0cf;
}
.header-right .header-profile>a.nav-link .header-info {
    padding-right: 30px;
    text-align: right;
    border-left: none;
    padding-left: 30px;
}
.theme-toggle:hover,.header-right .notification_dropdown .nav-link i:hover {
    color: #CE5C6D!important;
	transition: all 0.5s ease;
	cursor: pointer!important;
}

[data-theme-version="dark"] .quick-trade > div {
    border: solid 1px rgba(255, 255, 255, .1) !important;
    border-radius: 0.5em;
    padding: 20px;
}
[data-theme-version="dark"] .gh-icon{
	filter: invert(0);
}
.gh-icon{
	filter: invert(1);
}
.quick-trade > div {
    border: 1px solid #ddd;
    border-radius: 0.5em;
    padding: 20px;
}


.circle-icon {
    color: #CE5C6D !important;
    cursor: pointer;
    font-size: 24px;
}
[data-theme-version="dark"] .dropdown-menu {
    background-color: #1A1921;
    box-shadow: 0px 6px 10px 1px rgb(0, 0, 0)!important;
}
[data-theme-version="dark"] .footer .copyright p {
    color: #fff;
	opacity: .5;
	font-size: 12px;
}

.add-menu-sidebar {
	background-color: #E7E7E7;
	padding: 0px 20px 20px;
    border-radius: 1em;
    position: relative;
    margin: 20px 50px 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out 0s;
    text-align: center;
}

/*menu hovers——*/




[data-sidebar-style="full"][data-layout="vertical"] .deznav .metismenu>li>a:hover {
  color: #CE5C6D;
}

 [data-sidebar-style="full"][data-layout="vertical"] .deznav .metismenu>li>a i {
  color: #a6b0cf;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

 [data-sidebar-style="full"][data-layout="vertical"] .deznav .metismenu>li>a:hover i {
  color: #CE5C6D;
}

 [data-sidebar-style="full"][data-layout="vertical"] .deznav .metismenu>li.mm-active>a {
  color: #CE5C6D;
  border-radius: 1em;
}

 [data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .deznav .metismenu>li {
    transition: all 0.4s ease-in-out;
    padding: 0 13px;
    margin-bottom: 5px;
}
[data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .deznav .metismenu>li {
    transition: all 0.4s ease-in-out;
    padding: 0 13px;
    margin-bottom: 5px;
}



.deznav .metismenu>li a>i {
    padding: 0;
	margin-right: 25px;
}

[data-theme-version="dark"] .deznav .metismenu>li.mm-active>a i {

}

[data-theme-version="dark"] .deznav .metismenu>li.mm-active>a i {
		color: #fff!important;
		background:#CE5C6D;
		padding: 12px;
		border-radius: .5em;
		margin-left: -12px;
		margin-right: 13px;
}
@media only screen and (min-width: 768px) {
[data-sidebar-style="mini"] .deznav .metismenu li a {
    padding: 0.813rem 0.875rem!important;
}
[data-sidebar-style="mini"] .deznav .metismenu li.mm-active>a I {
    padding: 0;
	margin: 0;
}
}

[data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .deznav .metismenu>li.mm-active>a i {
    color: #fff;
    padding: 12px;
	margin-left: -4px;
}

[data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .deznav .metismenu li.mm-active a {
    padding: 0;
}
[data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .deznav .metismenu li.mm-active a i {
    Margin-right:0;
}
[data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .deznav .metismenu>li {
    transition: all 0.4s ease-in-out;
    padding: 0 15px;
    margin-bottom: 5px;
}

[data-theme-version="dark"] .deznav .metismenu>li.mm-active>a i {
	color: #fff!important;
}


[data-theme-version="dark"] .deznav .metismenu>li>a:hover {
  color: #fff!important;
}

[data-theme-version="dark"] .deznav .metismenu>li>a i {
  color: #a6b0cf;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

[data-theme-version="dark"] .deznav .metismenu>li>a:hover i {
  color: #fff!important;
}

[data-theme-version="dark"] .deznav .metismenu>li.mm-active>a {
  color: #fff!important;
  border-radius: 1em;
  background: none!important;
}

[data-theme-version="dark"] .menu-toggle .deznav .metismenu>li {
    transition: all 0.4s ease-in-out;
    padding: 0 13px;
    margin-bottom: 5px;
}
[data-theme-version="dark"] .menu-toggle .deznav .metismenu>li {
    transition: all 0.4s ease-in-out;
    padding: 0 13px;
    margin-bottom: 5px;
}








[data-theme-version="dark"] .authincation-content {
    margin-top: 30%;
}	


[data-theme-version="dark"] .add-menu-sidebar {
    background-color: #1A1921;
    padding: 0px 20px 20px;
    border-radius: 1em;
    position: relative;
    margin: 20px 50px 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out 0s;
    text-align: center;
}
.add-menu-sidebar:after {
    background-image: none;
    background-repeat: no-repeat;
    content: "";
    height: 0px;
    width: 0px;
}
.add-menu-sidebar img {
    position: relative;
	bottom: 0;
    background-repeat: no-repeat;
    content: "";
    width: 100%;
}
#receivedicon {
	transform: rotate(180deg);
}
.modal {
  background: none;
    backdrop-filter: blur(5px);
}


.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: .2;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
}
.modal-backdrop.show {
    opacity: 0.2;
}
#pins{
	 justify-content: center;
		display: flex;
	}


/*——responsive——*/

@media screen and (max-width: 991px) {

	.medal img {
	    height: 70px;
	    background-color: #1A1921;
	    border-radius: 1em;
	    padding: 10px;
	}
	.medal-lock {
	    position: absolute;
	    height: 70px;
	    width: 70px;
	    background-color: #1A1921;
	    border-radius: .5em;
	    opacity: 0.9;
	    top: 0;
	    left: 0;
	    right: 0;
	    font-family: FontAwesome;
	    content: "\f095";
	    text-align: center;
	    font-size: 26px;
		top: 7px;	
	    padding: 14px;
	}
	.medal .nav-link {
	    padding: 0rem 1.5rem 0rem 0rem!important;
	}
	
	.trade-card .form-control, .trade-card .input-group-text, .trade-card .form-control:hover, .trade-card .form-control:focus, .form-control.active {
		
			font-size: 30px!important;
	}
	.card-header .card-title {
		text-align: center;
	}
	.card-title {
		text-align: center;
	}
	#pins{
	 justify-content: center;
		display: flex;
	}

}

[data-sidebar-style="full"][data-layout="vertical"] .deznav .metismenu>li>a {
	padding: 15px 50px
}

@media only screen and (max-width: 767px) {
	[data-theme-version="dark"] .nav-header .logo-abbr {
	    background: url(../images/svg/logo-icon-white.svg) no-repeat !important;
	}
	.nav-header .logo-abbr {
	    background: url(../images/svg/logo-icon-light.svg) no-repeat !important;
	}
	[data-theme-version="dark"] .nav-header {
			background: rgba(26,25,33,0.8)!important;
	}
	.nav-header {
			    background: rgba(233,233,233,0.9)!important;
	}
}
@media only screen and (min-width: 768px) {
	[data-sidebar-style="mini"][data-layout="vertical"] .deznav .metismenu>li.mm-active>a {
	    background: #CE5C6D!important;
	    color: #fff;
	    border-radius: 12px;
	}
}
[data-theme-version="dark"] .deznav .metismenu>li.mm-active>a {
    color: #CE5C6D;
}


[data-sidebar-style="full"][data-layout="vertical"] .deznav .metismenu>li.mm-active>a:before {
    width: 0px;
}


/*——datable pagination——*/
.dataTables_paginate {
	float: right;
}
.dataTables_info {
	float: left;
}

[data-theme-version="dark"] .dataTables_wrapper .dataTables_paginate .paginate_button{
	background: #252430 !important;
	color: #fff !important;
}
[data-theme-version="dark"] .dataTables_wrapper .dataTables_paginate .current{
	background: #CE5C6D!important; 
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 0 !important;
    border: none;
    border-radius: 50%;
    color: #565656 !important;
	background: none!important;
    font-size: 16px;
    margin-right: 7px;
    display: inline-block;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 40px;
}
.dataTables_wrapper .dataTables_paginate span {
    text-align: center;
}



/*—modal—*/

.springEvent {		
		svg {
			max-height: 400px;
		}
		.modal-dialog {
			max-width: 600px;
    		margin: 15% auto;
		}
		.modal-content {
			background-color: #252430!important;
			text-align: center;
		}
		/*.modal-body {
		    padding-top: 0;
			padding-bottom: 0;
		}*/
		.modal-header {
			padding:0; 
		}
		.title {
			font-size: 13px;
			color: #CE5C6D;
			font-weight: bold;
			margin-bottom: 20px;
			margin-top: 20px;
		}
		.description {
			b{
				font-weight: bold;
				color: #fff;
			}
			p{
				line-height: 18px;
				color: #fff;
				display: block;
			}
			p.prize{
				color: #a6b0cf;
				margin-top: 40px;
			}
			p.prize img{
				width: 150px;
			}
			a{
				color: #CE5C6D;
				}
		}
		h3 span {
			color: #CE5C6D;
		}
		
		
		img.border {
		    border: 1px solid #fff!important;
			border-radius: 5px;
			width: 100%;
		}
}

@media only screen and (max-width: 767px) {
	.springEvent {		
		img {
			margin-top: 20px;
		}
		.description {
			p.prize img{
				width: 100%;
				margin-top: 0;
				
			}
		}
	}
}


